/* @override http://possibilitiesplace.info/wp-content/plugins/auto-sermons/auto-sermons.css?ver=3.2.1 */

/* @group dropdown */

ul.dropdown,
ul.dropdown ul {
	list-style-type: none;
}

a.dropdown_trigger {
	cursor: pointer;
}

.dropdown_trigger .trigger_pointer_arrow {
	background: url(NGG-album-list-images/dropdown-arrow.png) no-repeat 0 0;
	display: inline-block;
	height: 10px;
	margin-right: 2px;
	width: 10px;
}

.active.dropdown_trigger .trigger_pointer_arrow {
	background: url(NGG-album-list-images/dropdown-arrow.png) no-repeat 0 -10px;
}

ul.dropdown ul li:first-child {
	margin-top: 4px;
}

ul.dropdown ul li:last-child {
	margin-bottom: 10px;
}

/* @end */

.hide {
	display: none;
}